*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --text-color: #595959;
    --background-color-with: #ffffff;
    --box-shadow-black-inset: inset 0 5px 44px rgba(0, 0, 0, 0.6);
    --box-shadow-black: 0 2px 50px rgba(0, 0, 0, 0.6);
} 
@font-face {
    font-family: TDVolshebstvo;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/TDVolshebstvo.ttf");
}

html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header::before {
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color-with);
    box-shadow: var(--box-shadow-black);
}
.conteiner {
    position: relative;
    top: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}
.header_body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    top: auto;
}
.header_burger {
    display: none;
}

.header_menu {
}
.header_menu_2 {
}
.header_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_list li {
    list-style: none;
    display: flex;
    
}
.header_list_2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_list_2 li {
    list-style: none;
    display: flex;
    
}
.header_link {
    padding: 10px 10px;
    font-family: TDVolshebstvo;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}
.header_link_2 {
    padding: 10px 10px;
    font-family: TDVolshebstvo;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}
.content {
    padding: 100px 0 0 0;
}
.content_text {
    
    font-size: 1em;
    line-height: 25px;
}
.content_text p {
    margin-bottom: 20px;
}
.header_menu_2{
    display: none;
}