.block1-logo{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle, #D2C29A 0%, #9F8E77 100%);
    overflow: hidden;
    box-shadow: 0 -10px 58px rgba(0, 0, 0, 1.2);
    justify-content: center;
}
.block1-logo>h1{
    position: absolute;
    bottom: 10vh;
    font-weight: 100;
    font-family: "TDVolshebstvo";
    color: var(--text-color);
    justify-content: center;
    text-align: center;
    overflow: hidden;
    animation: typing 2s ease-in-out forwards;
}
.bottom_block_1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 10px;
    bottom: 10vh;
    animation: logo-animation-4 1.5s infinite;
    transition: all 0.3s ease 0s;
}

.bottom_block_1::after,
.bottom_block_1::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--text-color);
    transition: all 0.3s ease 0s;
    animation: button-an 1.5s infinite;
}

.bottom_block_1::after {
    transform: rotate(135deg);
    right: 0;
    top: 0;
}

.bottom_block_1::before {
    transform: rotate(-135deg);
    left: 0;
    top: 0;
}
.logo-control{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.logo-control > img {
    display: flex;
    position: absolute;
    height: 70%;
}
.logo-control>img:nth-of-type(1){
    animation: logo-animation-2 60s infinite;
}
.logo-control>img:nth-of-type(2){
    animation: logo-animation-1 50s infinite;
}
.logo-control>img:nth-of-type(3){
    animation: logo-animation-2 40s infinite;
}
.logo-control>img:nth-of-type(4){
    animation: logo-animation-3 5s infinite;
}

@keyframes logo-animation-1 {
    0% {
        transform: scale(1) rotate(0deg) ;
    }
    50% {
        transform: scale(1.2) rotate(-180deg);
    }
    100% {
        transform: scale(1) rotate(-360deg);
    }
}
@keyframes logo-animation-2 {
    0% {
        transform: scale(1) rotate(0deg) ;
    }
    50% {
        transform: scale(0.9) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes logo-animation-3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes logo-animation-4 {
    0% {
        bottom: 10vh;
    }
    100% {
        bottom: 2vh;
    }
}
  
@keyframes typing {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@keyframes button-an {
    0%{
        width: 0px;

    }
    30%{
        width: 30px;
    }
}
.block_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    box-shadow: inset 0 -10px 63px rgba(0, 0, 0, 1.2);
}
.block_2_1{
    margin-top: 30px;
}
.block_2_1 h2,
.block_2_3 h2{
    font-family: "TDVolshebstvo";
    font-weight: 100;
    color: var(--text-color);
    font-size: 2em;
    text-align: center;
}
.block_2_2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.min_conteiner_1{
    display: flex;
    width: 48%;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.min_conteiner_1 img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.text_conteiner{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}
.text_conteiner h3 {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 25px;
}
.text_conteiner p {
    text-align: center;
    color: var(--text-color);
    margin: 10px 25px;
}
.block_2_3{
    width: 100%;
}
.block_2_4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.text_conteiner_2 {
    width: 48%;
    min-width: 400px;
    justify-content: center;
    margin-top: 30px;
}
.text_conteiner_2 h3 {
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 25px;
}
.text_conteiner_2 p {
    text-align: center;
    color: var(--text-color);
    margin: 10px 25px;
}

.block_3 {
    display: flex;
    flex-direction: column;
    background: var(--background-color-blue);
    width: 100%;
    min-width: 0;
    position: relative;
}
.block_3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow-white-inset);
}
.top_design{
    top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.top_design::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: var(--background-color-with);
    top: 100px;
}
.top_design>h2{
    color: var(--text-color-white);
    font-family: "TDVolshebstvo";
    font-size: 2em;
    font-weight: 200;
    margin: 40px 0 0 0;
}
.swiper_contener {
    width: 100%;
    position: relative;
    height: 390px;
    margin-top: 50px;
}
.swiper_top_designe {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.slide_img {
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: contain;
    filter: drop-shadow(10px 10px 5px rgba(0,0,0,0.8));
    opacity: 0;
}
.swiper-slide-active img {
    height: 90%;
    opacity: 1;
    padding: 20px;
}
.swiper-slide-prev img,
.swiper-slide-next img {
    height: 70%;
    opacity: 0.6;
    padding: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-active{
    display: flex;
    height: 100%;
    justify-content: center;
}
.no-select {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
	user-select: none; /* Стандартный синтаксис */
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none;
}
.swiper-pagination-bullet-active{
    background: var(--background-color-with);
}

.button_top_designer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 10%;
}
.button_top_designer a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    font-family: "TDVolshebstvo";
    font-size: 1.5em;
    background: var(--background-color-with);
    width: 383px;
    height: 62px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 2;
}
.button_top_designer a:hover{
    transform: scale(1.1);
}
.button_top_designer::after,
.button_top_designer::before{
    display: flex;
    content: '';
    width: 20%;
    height: 4px;
    background: var(--background-color-with);
}
.button_top_designer::before{
    margin-right: 10%;
}
.button_top_designer::after{
    margin-left: 10%;
}
.stock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.text_stock{
    margin-top: 15px;
    display: flex;
    position: relative;
    justify-content: center;
}
.stock h2 {
    display: flex;
    position: relative;
    color: var(--text-color-white);
    font-family: "TDVolshebstvo";
    font-size: 2em;
    font-weight: 100;
}
.stock_block{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0;
    flex-wrap: wrap;
}
.stock_slot_left,
.stock_slot_mid,
.stock_slot_reght{
    display: flex;
    position: relative;
    min-width: 363px;
    min-height: 440px;
    background: var(--background-color-with);
    margin: 0 25px;
    border-radius: 15px;
    box-shadow: var(--box-shadow-black-inset);
}
.stock_slot_left,
.stock_slot_reght {
    transform: scale(0.8);
}
.des_stayl {
    display: flex;
    width: 80%;
    margin: 0 10%;
    justify-content: center;
    align-items: center;
}
.des_stayl::after,
.des_stayl::before{
    content: '';
    display: flex;
    width: 40%;
    height: 4px;
    background: var(--background-color-with);
}
.des_stayl span{
    display: flex;
    content: '';
    min-width: 25px;
    min-height: 25px;
    background: var(--background-color-with);
    margin: 2%;
    border-radius: 50%;
}