
// Обнуление
//--------------------------------------------
//--------------------------------------------

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}









// Макет 
//----------------------------
//----------------------------

%swiper{
  width: 95%;
  height: 480px;


  .swiper-wrapper{

      .swiper-slide{
          display: flex;
          align-items: center;
          opacity: 0;
          transition: all 0.3s ease;
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
          a{
              display: flex;
              img {
                height: 420px;
              }
          }
      }
      
      .swiper-slide.swiper-slide-active{
          display: flex;
          opacity: 1;
          justify-content: center;
          transition: all 0.3s ease;
          z-index: 3;
          &:hover{
              transform: scale(1.05);
          }
      }
      .swiper-slide.swiper-slide-prev,
      .swiper-slide.swiper-slide-next{
          display: flex;
          justify-content: center;
          opacity: 0.6;
          transform: scale(0.8);
          transition: all 0.3 ease;
          &:hover {
              transform: scale(0.85);
          }
      }
  }

}

%ff{
  font-family: 'TDVolshebstvo';
}



// Присет 


$ff: 'TDVolshebstvo';
$color_grey: #595959;
$color_white: #ffffff;

// Функции 
//-------------------------------
//-------------------------------

@function toRem($size) {
  @return ($size / 16px) + em;
}


//TODO Миксид 
//---------------------------------
//---------------------------------

@mixin res($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 480px) { @content; }
  } @else if $breakpoint == mobile_h {
    @media (max-width: 1024px) and (min-aspect-ratio: 3/2) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == desktop {
    @media (max-width: 1200px) { @content; }
  }
}

@mixin button($fz,$ff,$c,$bc,$w,$h,$hover-c,$hover-bc){
  display: flex;
  text-decoration: none;
  font-size: toRem($fz);
  font-family: $ff;
  color: $c;
  background-color: $bc;
  width: $w;
  height: $h;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba($color: #000000, $alpha: 1.0);
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
@mixin h_setting($c,$fz){
  @extend %ff;
  text-align: center;
  color: $c;
  font-size: toRem($fz);
}
@mixin p_setting($c,$fz){
  text-align: center;
  color: $c;
  font-size: toRem($fz);
}
@mixin icon_conect($hover_bc){
  padding: 9px 9px 5px 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover{
      transform: scale(1.1);
      background-color: $hover_bc;
  }
}




//TODO Анимация
//---------------------------------------------
// Лого
//---------------------------------------------

@keyframes logo-animation-1 {
  0% {
      transform: scale(1) rotate(0deg) ;
    }
  50% {
      transform: scale(1.2) rotate(-180deg);
  }
  100% {
      transform: scale(1) rotate(-360deg);
  }
}
@keyframes logo-animation-2 {
  0% {
      transform: scale(1) rotate(0deg) ;
  }
  50% {
      transform: scale(0.9) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes logo-animation-3 {
  0% {
      transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
//---------------------------------------------
// Стрелка указатель вниз 
//---------------------------------------------
@keyframes logo-animation-4 {
  0% {
    bottom: 10vh;
  }
  100% {
    bottom: 2vh;
  }
}
@keyframes button-an {
  0%{
      width: 0px;

  }
  30%{
      width: 30px;
  }
}
//---------------------------------------------
// Текст приветствие 
//---------------------------------------------

@keyframes typing {
  from {
      opacity: 0;
  }
  to {
      opacity: 100;
  }
}