@media (max-width: 767px) {
    /* ----Бургер меню иконка---- */
    .header{
        height: 50px;
        width: 50px;
        right: 55px;
        bottom: 55px;
        top: unset;
        left: unset;
    }
    .header::before{
        position: fixed;
        width: 60px;
        height: 60px;
        right: 50px;
        bottom: 50px;
        transform: unset;
        top: unset;
        left: unset;
    }
    .header_burger {
        display: block;
        position: relative;
        margin: auto;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--text-color);
        position: absolute;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before {
        top: 0px;
    }
    .header_burger::after {
        bottom: 0px;    
    }
    .header_burger span {
        position: absolute;
        background-color: var(--text-color);
        left: 0;
        width: 100%;
        height: 3px;
        top: 14px;
        transition: all 0.3s ease 0s;
    }
    .header_body{
        height: unset;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 50%;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        top: 50%;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    /* ----Главное мобильное меню---- */
    .header_list{ /* Меню столбиком */
        display: block;
    }
    .header_list_2{ /* Меню столбиком */
        display: block;
    }
    .header_menu {/* Меню всплывающее */
        right: -2000px;
        bottom: 100px;
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu.active{
        right: 50px;
    }
    .header_menu_2 {/* Меню всплывающее */
        display: flex;
        right: -2000px;
        bottom: 100px;
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu_2.active{
        right: 50px;
    }
    
    .content{ /* У основной страници убераеем padding */
        padding: 0 0 0 0;
    }

    .header_list>li{ /* Положение меню мобайл */
        display: flex;
        right: 55px;
        bottom: 110px;
    }
    .header_list_2>li{ /* Положение меню мобайл */
        display: flex;
        right: 55px;
        bottom: 110px;
    }
    .header_link{ /* Стиль ссылок меню мобайл */
        display: flex;
        font-size: 2em;
        margin-bottom: 20px;
        padding: 10px 0;
        background-color: var(--background-color-with);
        border-radius: 10px;
        width: 240px;
        box-shadow: var(--box-shadow-black);
        justify-content: center;
        z-index: 1000;
    }
    .header_link_2{ /* Стиль ссылок меню мобайл */
        display: flex;
        font-size: 2em;
        margin-bottom: 15px;
        padding: 8px 0;
        background-color: var(--background-color-with);
        border-radius: 10px;
        width: 240px;
        box-shadow: var(--box-shadow-black);
        justify-content: center;
        z-index: 1000;
    }

    /* ----Меню в горизонтальном положении---- */
        @media (orientation: landscape){
        .header_menu{
            right: -2000px;
            position: fixed;
            transition: all 0.4s ease 0s;
        }
        .header_menu.active{
            /* right: 40px; */
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .header_list{
            display: flex;
            width: 600px;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0;
        }
        .header_link{
            margin-bottom: 4px;
        }
        .header_list li{
            display: flex;
            right: 0;
            bottom: 110px;
        }
        .header_menu_2{
            right: -1000px;
            
            position: fixed;
            transition: all 0.4s ease 0s;
        }
        .header_menu_2.active{


           right: 640px;
           bottom: 340px;
        }
        .header_list_2{
            width: 600px;
            display: flex;
            position: fixed;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0;
        }
        .header_link_2{
            margin-bottom: 4px;
        }
        .header_list_2 li{
            display: flex;
            right: 0;
            bottom: 110px;
        }

    }

}
@media (orientation: landscape){
    .header{
        height: 50px;
        width: 50px;
        right: 55px;
        bottom: 55px;
        top: unset;
        left: unset;
    }
    .header::before{
        position: fixed;
        width: 60px;
        height: 60px;
        right: 50px;
        bottom: 50px;
        transform: unset;
        top: unset;
        left: unset;
    }
    .header_burger {
        display: block;
        position: relative;
        margin: auto;
        width: 30px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--text-color);
        position: absolute;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before {
        top: 0px;
    }
    .header_burger::after {
        bottom: 0px;    
    }
    .header_burger span {
        position: absolute;
        background-color: var(--text-color);
        left: 0;
        width: 100%;
        height: 3px;
        top: 14px;
        transition: all 0.3s ease 0s;
    }
    .header_body{
        height: unset;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 50%;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        top: 50%;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    /* ----Главное мобильное меню---- */
    .header_list{ /* Меню столбиком */
        display: block;
    }
    .header_list_2{ /* Меню столбиком */
        display: block;
    }
    .header_menu {/* Меню всплывающее */
        right: -2000px;
        bottom: 100px;
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu.active{
        right: 50px;
    }
    .header_menu_2 {/* Меню всплывающее */
        display: flex;
        right: -2000px;
        bottom: 100px;
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu_2.active{
        right: 50px;
    }
    
    .content{ /* У основной страници убераеем padding */
        padding: 0 0 0 0;
    }

    .header_list>li{ /* Положение меню мобайл */
        display: flex;
        right: 55px;
        bottom: 110px;
    }
    .header_list_2>li{ /* Положение меню мобайл */
        display: flex;
        right: 55px;
        bottom: 110px;
    }
    .header_link{ /* Стиль ссылок меню мобайл */
        display: flex;
        font-size: 2em;
        margin-bottom: 20px;
        padding: 10px 0;
        background-color: var(--background-color-with);
        border-radius: 10px;
        width: 240px;
        box-shadow: var(--box-shadow-black);
        justify-content: center;
        z-index: 1000;
    }
    .header_link_2{ /* Стиль ссылок меню мобайл */
        display: flex;
        font-size: 2em;
        margin-bottom: 15px;
        padding: 8px 0;
        background-color: var(--background-color-with);
        border-radius: 10px;
        width: 240px;
        box-shadow: var(--box-shadow-black);
        justify-content: center;
        z-index: 1000;
    }
    .header_menu{
        right: -2000px;
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu.active{
        right: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 140px;
        
    }
    .header_list{
        display: flex;
        width: 755px;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    .header_link{
        margin-bottom: 4px;
    }
    .header_list li{
        display: flex;
        right: 0;
        bottom: 110px;
    }
    .header_menu_2{
        right: -1000px;
        
        position: fixed;
        transition: all 0.4s ease 0s;
    }
    .header_menu_2.active{


       right: 820px;
       bottom: 304px;
    }
    .header_list_2{
        width: 755px;
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    .header_link_2{
        margin-bottom: 4px;
    }
    .header_list_2 li{
        display: flex;
        right: 0;
        bottom: 110px;
    }

}