@media screen and (max-width: 600px){

    .logo-control{
        margin-top: 9%;
    }
    .logo-control > img {
        height: 55%;
    }
    .block1-logo>h1{
        position: absolute;
        bottom: 20vh;
        font-weight: 100;
        font-family: "TDVolshebstvo";
        color: var(--text-color);
        justify-content: center;
        text-align: center;
        overflow: hidden;
        animation: typing 2s ease-in-out forwards;
    }
    .bottom_block_1 {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 10px;
        bottom: 15vh;
        animation: logo-animation-4 1.5s infinite;
        transition: all 0.3s ease 0s;
    }
    
    .bottom_block_1::after,
    .bottom_block_1::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: var(--text-color);
        transition: all 0.3s ease 0s;
        animation: button-an 1.5s infinite;
    }
    
    .bottom_block_1::after {
        transform: rotate(135deg);
        right: 0;
        top: 0;
    }
    
    .bottom_block_1::before {
        transform: rotate(-135deg);
        left: 0;
        top: 0;
    }

    @keyframes button-an {
        0%{
            width: 0px;

        }
        30%{
            width: 30px;
        }
    }
    .button_top_designer::after,
    .button_top_designer::before{
    display: none;
    }
    .des_stayl span{
        min-width: 15px;
        min-height: 15px;
    }
}
@media (max-width: 451px){
    .block1-logo>h1{
        bottom: 10vh;
    }
    .min_conteiner_1{
        width: unset;
        min-width: unset;
    }
    .text_conteiner_2{
        width: unset;
        min-width: unset;
    }
.stock_slot_left,
.stock_slot_mid,
.stock_slot_reght{
    transform: unset;
    min-width: 235px;
    min-height: 285px;
}
.stock_slot_left,
.stock_slot_reght{
    transform: scale(0.8);
}
}

@media (max-width: 1024px) and (min-aspect-ratio: 3/2){
    .logo-control img{
        left: 10%;
    }
    .block1-logo>h1{
        position: absolute;
        bottom: 20vh;
        font-weight: 100;
        font-family: "TDVolshebstvo";
        color: var(--text-color);
        justify-content: center;
        text-align: center;
        overflow: hidden;
        animation: typing 2s ease-in-out forwards;
    }
    .block1-logo>h1{
        width: 40%;
        right: 80px;
        bottom: unset;
        top: 40%;
        transform: translateY(-50%);
    }
    .bottom_block_1 {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 10px;
        bottom: 15vh;
        animation: logo-animation-4 1.5s infinite;
        transition: all 0.3s ease 0s;
    }
    .bottom_block_1::after,
    .bottom_block_1::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: var(--text-color);
        transition: all 0.3s ease 0s;
        animation: button-an 1.5s infinite;
    }
    
    .bottom_block_1::after {
        transform: rotate(135deg);
        right: 0;
        top: 0;
    }
    
    .bottom_block_1::before {
        transform: rotate(-135deg);
        left: 0;
        top: 0;
    }

    @keyframes button-an {
        0%{
            width: 0px;

        }
        30%{
            width: 30px;
        }
    }
}