.block-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    position: relative;
    background: radial-gradient(circle, #D2C29A 0%, #9F8E77 100%);
    overflow: hidden;
    box-shadow: 0 -10px 58px rgba(0, 0, 0, 1.2);
    z-index: 800;
}
.block-logo>img{
    position: absolute;
    height: 75%;
    width: auto;
}
.block-logo>img:nth-of-type(1){
    animation: logo-animation-2 60s infinite;
}
.block-logo>img:nth-of-type(2){
    animation: logo-animation-1 50s infinite;
}
.block-logo>img:nth-of-type(3){
    animation: logo-animation-2 40s infinite;
}
.block-logo>img:nth-of-type(4){
    animation: logo-animation-3 5s infinite;
}
.block-logo>img:nth-of-type(5){
    width: 0; 
    animation: logo-animation-4 1.5s infinite;
    display: flex;
    position: absolute;
    bottom: 15vh;
    width: 50px;
    height: auto;
}

@keyframes logo-animation-1 {
    0% {
        transform: scale(1) rotate(0deg) ;
    }
    50% {
        transform: scale(1.2) rotate(-180deg);
    }
    100% {
        transform: scale(1) rotate(-360deg);
    }
}
@keyframes logo-animation-2 {
    0% {
        transform: scale(1) rotate(0deg) ;
    }
    50% {
        transform: scale(0.9) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes logo-animation-3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes logo-animation-4 {
    0% {
        bottom: 15vh;
    }
    100% {
        bottom: 5vh;
    }
}
.text-typing {
    display: none;
    font-family: "TDVolshebstvo";
    color: #595959;
    font-size: 2em;
    position: absolute;
    bottom: 25vh;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    width: 0; 
    animation: typing 2s ease-in-out forwards;
}
  
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.block-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    box-shadow: inset 0 -10px 63px rgba(0, 0, 0, 1.2);
}
.block-2>div:nth-of-type(1),
.block-2>div:nth-of-type(3){
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.block-2>div:nth-of-type(1)>p,
.block-2>div:nth-of-type(3)>p{
    font-family: "TDVolshebstvo";
    font-size: 3.125em;
    color: #595959;
    text-align: center;
    margin: 0 20px;
}

.block-2>div:nth-of-type(2){
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block-2>div:nth-of-type(2)>div{
    width: 410px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.block-2>div:nth-of-type(2)>div>img{
    margin: 20px;
    width: 100px;
    align-items: center;
    justify-content: center;
}
.block-2>div:nth-of-type(2)>div>div{
    width: 250px;
    height: auto;
    padding: 0 10px;
}
.block-2>div:nth-of-type(2)>div>div>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.906em;
    color: #595959;
}
.block-2>div:nth-of-type(4){
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.block-2>div:nth-of-type(4)>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.906em;
    color: #595959;
    width: 230px;
    margin: 30px 6px;
}
.block-3{
    background: radial-gradient(circle, #6B66B1, #5648B4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-block-3-1{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;    
}
.top-block-3-1>p{
    font-family: "TDVolshebstvo";
    font-size: 2em;
    color: #fff;
    text-align: center;
    width: 90%;
    padding: 33px 0;
    border-color: #fff;
    border-bottom: 4px solid;
}
.top-block-3-2{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.top-block-3-2>a>img{
    display: flex;
    padding: 0 60px;
}
.top-block-3-2>a:nth-of-type(1)>img,
.top-block-3-2>a:nth-of-type(3)>img{
    height: 350px;
}
.top-block-3-2>a>img:hover{
    transform: scale(1.05);
}
.swiper-container{
    display: none;
}
.block-3>div:nth-of-type(2) {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}
.top-block-3-3{
    display: flex;
    position: relative;
    max-width: 90%;
}

.top-block-3-3>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TDVolshebstvo";
    font-size: 1.563em;
    color: #595959;
    background-color: #fff;
    padding: 17.5px 135px;
    margin: 53px 38px 0 38px;
    border-radius: 10px;
    box-shadow: 0 20px 44px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s;

}
.top-block-3-3>a:hover{
    transform: scale(1.05);
}
.top-block-3-3>span{
    content: '';
    position: absolute;
    top: 71%;
    width: 110%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;   
}
.top-block-3-3>span:nth-of-type(1){
    left: -120%;
}
.top-block-3-3>span:nth-of-type(2){
    right: -120%;
}

.bottom-block-3-1>p{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TDVolshebstvo";
    font-size: 2em;
    color: #fff;
    padding-top: 77px;
}
.bottom-block-3-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 90px;
    margin-top: 70px;
} 
.bottom-block-3-2>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 440px;
    background-color: #fff;
    box-shadow: inset 0 5px 44px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 44px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.bottom-block-3-2>a:nth-of-type(1),
.bottom-block-3-2>a:nth-of-type(3){
    transform: scale(0.85);
}
.bottom-block-3-2>a:nth-of-type(2):hover{
    transform: scale(1.05);
}
.bottom-block-3-2>a:nth-of-type(1):hover,
.bottom-block-3-2>a:nth-of-type(3):hover{
    transform: scale(0.9);
}
.bottom-block-3-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 32px 0 80px 0;
    position: relative;
}

.bottom-block-3-3>span {
    display: inline-block;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;

}

.bottom-block-3-3>span:nth-of-type(1),
.bottom-block-3-3>span:nth-of-type(5) {
    width: 24%;
}

.bottom-block-3-3>span:nth-of-type(2),
.bottom-block-3-3>span:nth-of-type(3),
.bottom-block-3-3>span:nth-of-type(4) {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.bottom-block-3-3>span:nth-of-type(2){
    margin-left: 11%;
}
.bottom-block-3-3>span:nth-of-type(4){
    margin-right: 11%;
}